.footer {
    background-color: #252323 ;
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;;
}

.logo1{
    width: 100px;
}
.logo1:hover{
    filter: brightness(0.6);
    transition: all 0.3s ease-in-out;
}

.logo2 {
    width: 50px;
    
}
.logo2:hover{
    filter: brightness(0.6);
    transition: all 0.3s ease-in-out;
}

footer{
    position: fixed;
    bottom:0;
    width: 100vw;
}