.navBody{
    width: 100%;
    border-bottom: 2px black solid;
    font-family: "Roboto";
    background-color: #A99985;
    margin-top: -25px;
    height: 140px;
}

.title {
    color: white;
    text-shadow: 5px -2px 1px #31343a;
    text-align: center;
    padding-top: 25px;
    margin: 25px;
    font-size: 50px;
}

.navBar {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-left: 0;
    
}

.navBar a{
    text-decoration: none;
    color: white;
    text-shadow: 2px -1px 1px black;
}

.navBar a.active-link {
    color: rgb(0, 0, 0);
    text-shadow: none;  
}

.navBar a:hover{
    filter: brightness(0.6);
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 515px) {
    .navBody{
        height: 200px;    
    }

    
}

@media screen and (max-width: 469px) {
    .subTitle {
        font-size: 20px;
    }
    
}