.aboutMe {
    background-color: #DAD2BC;
    min-height: auto;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    padding-bottom: 200px;
}

h2 {
    text-align: center;
    padding: 60px;
}

.aboutMeBody{
    display: flex;
    padding: 0 100px 0 100px;
}

.dog {
    border: 4px black solid;
    border-radius: 20px;
    box-shadow: 20px 20px #70798C;
    height: 30vw;
}

.aboutMeText {
    margin-left: 5vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 20px;
}

@media screen and (max-width: 1510px) {
    .aboutMeBody {
      flex-direction: column;
    }
    .dog{
        height: 60vw;
    }
    .aboutMeText{
        margin: 40px 10px 40px 10px;
        padding: 20px
    }
}

@media screen and (max-width: 885px) {
    
    .dog{
        box-shadow: 10px 10px #70798C; 
    }
}

@media screen and (max-width: 585px) {
    .aboutMeBody{
        padding: 0 20px 0 20px
    }
    .dog{
        box-shadow: 10px 10px #70798C; 
    }
}